<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Create Application</h2>
            <form th:action="@{/applications}" method="post">
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" required>
                </div>
                <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" class="form-control" id="jobTitle" name="jobTitle" required>
                </div>
                <div class="form-group">
                    <label for="applicationDate">Application Date</label>
                    <input type="date" class="form-control" id="applicationDate" name="applicationDate" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit Application</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
